.ng-hide {
    opacity: 0;
}
label {
    font-weight: normal !important;
}
.col-md-12.text-center.animate {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
label span {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.select-valid span{
    opacity: 0;
}
.select-valid.red {
    color: red !important;
}
.select-valid.red span {
    opacity: 1;
}
.red {
    color: red !important;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

.autocomplete-container {
    min-height: 22px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    color: #565656;
    padding: 7px 7px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    display: inline-block;
    height: 100%;
    cursor: text;
}

.autocomplete-container span {  
    display: inline-block;
    padding: 8px 7px 7px 9px;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    margin: 2px;
    background-color: #8553C6;
    color: white;
}
.autocomplete-container .item {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 15px;
    border: 1px solid #AAAAAA;
    z-index: 100;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: none;
}
.autocomplete-container .item label {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid #AAAAAA;
    width: 100%;
    margin-bottom: 0 !important;
    cursor: pointer;
}
.autocomplete-container .item label:hover {
    background-color: #d4d4d4;
}

.autocomplete-container input {
    display: inline-block;
    margin-left: 3px;
    border: none;
    width: 2px;
}

.center_content {
    display: flex;
    justify-content: center;
}

.form-control.invalid {
    border-color: red !important;
}

/* General CSS Setup */

/* CSS talk bubble */
.talk-bubble {
    margin: 10px;
    display: inline-block;
    position: relative;
    max-width: 240px;
    height: auto;
    word-break:break-all;
    background-color: #7F4AC2;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

.close_screenshot {
    background-color: #8553C6;
    color: white;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    height: 35px;
    width: 35px;
    padding: 5px;
}
.close_screenshot i {
    padding-left: 2px;
}
.close_screenshot:hover i {
    color: red;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 10px;
    bottom: auto;
    border: 12px solid;
    border-color: #7F4AC2 transparent transparent #7F4AC2;
}
.tri-left.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -22px;
    top: 10px;
    bottom: auto;
    border: 12px solid;
    border-color: #F7F7F8 #F7F7F8 transparent transparent;
}

}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
  color: white;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}