

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Worker</title>
    <base href="/" />
    <link href="~/Content/Moralde/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Moralde/css/worker-css.css" rel="stylesheet" />
    <link href="~/Content/Moralde/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/Moralde/Swal/sweetalert2.css" rel="stylesheet" />
</head>
<body ng-app="Job">
    <nav class="navbar navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
    </nav>

    <ng-view></ng-view>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Moralde/Swal/sweetalert2.min.js"></script>
    <script src="~/Scripts/AngularJS/angular.min.js"></script>
    <script src="~/Scripts/AngularJS/angular-route.min.js"></script>
    <script src="~/Scripts/AngularJS/Module.js"></script>
    <script src="~/Scripts/AngularJS/Controllers/companies-controller.js"></script>
    <script src="~/Scripts/AngularJS/Router/worker.js"></script>
    <script src="~/Content/Moralde/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Moralde/select2/js/select2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

</body>
</html>



@*@{
        Layout = "";
    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Worker</title>
        <base href="/" />
        <link href="~/Content/Moralde/css/worker-css.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/Content/Moralde/css/custom-materialize.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body ng-app="Job">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper pink">
                    <a href="#!" class="brand-logo">Logo</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="sass.html">Companies</a></li>
                        <li><a href="badges.html">My Projects</a></li>
                        <li><a href="collapsible.html">Messages</a></li>
                        <li><a href="mobile.html">Notification</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Companies</a></li>
            <li><a href="badges.html">My Projects</a></li>
            <li><a href="collapsible.html">Messages</a></li>
            <li><a href="mobile.html">Notification</a></li>
        </ul>
        <div class="container">
            <ng-view></ng-view>
        </div>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/AngularJS/angular.min.js"></script>
        <script src="~/Scripts/AngularJS/angular-route.min.js"></script>
        <script src="~/Scripts/AngularJS/Module.js"></script>
        <script src="~/Scripts/AngularJS/Controllers/companies-controller.js"></script>
        <script src="~/Scripts/AngularJS/Router/worker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        </script>
    </body>
    </html>*@
