@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COMPANY UNKNOWN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/Content/amade/ven/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/amade/ven/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="~/Content/amade/ven/lightbox2/css/lightbox.css">
    <link rel="stylesheet" href="~/Content/amade/cs/fontastic.css">
    <link rel="stylesheet" href="~/Content/amade/cs/style.default.css" id="theme-stylesheet">

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a href="./" class="navbar-brand">
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                    Menu<i class="fa fa-bars ml-2"></i>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item"> <a href="../Home/Index" class="custom-btn active">Home</a></li>

                        <li class="nav-item"> <a href="../Home/FAQ" class="custom-btn">FAQ</a></li>

                        <li class="nav-item"> <a href="../Home/Contact" class="custom-btn">Contact</a></li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <section class="hero">
        <div class="container mb-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="hero-heading mb-0">Move work <br> forward</h1>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="lead text-muted mt-4 mb-4">
                                Get Motivation to find a fitting Job for yourself.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6"><img src="~/Content/amade/imgs/illustration-hero.svg" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <h2>Track projects,companies and work from start to finish </h2>
                <p class="lead text-muted mt-2">
                    Search for company,project,works were you can fit in yourself to work.
                </p>@*<a href="#" class="btn btn-primary">Learn More</a>*@
            </div>
            <div class="row">
                <div class="col-lg-7 mx-auto mt-5"><img src="~/Content/amade/imgs/illustration-1.svg" alt="..." class="intro-image img-fluid"></div>
            </div>
        </div>
    </section>

    <section class="bg-primary text-white">
        <div class="container">
            <div class="text-center">
                <h2>Lets Do great things together</h2>
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <p class="lead text-white mt-2">
                            Consider yourself to be part of our community come and Join us.
                            And lets help ourselves to find perfectly fitting job for yourself.
                        </p>
                    </div>
                </div>@*<a href="#" class="btn btn-outline-light">Learn More</a>*@
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <h2>Integrations</h2>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p class="lead text-muted mt-2">
                            In this community you can find your own profession and also to find your skills equal to your degree.
                            For example:
                        </p>
                    </div>
                </div>
            </div>
            <div class="integrations mt-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/monitor.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">Web desgin</h3>
                            <p class="text-small font-weight-light">
                                for those who love website design.Designing Web  maybe your calling.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/target.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">Print</h3>
                            <p class="text-small font-weight-light">
                                for media uses if have profession like this it also a good thing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/chat.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">SEO and SEM</h3>
                            <p class="text-small font-weight-light">
                                increasing the amount of website visitors by getting the site to appear high on results.
                                It also considered internet marketing that increases.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/idea.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">Consulting</h3>
                            <p class="text-small font-weight-light">
                                If ever want help try considering consulting our one of worker that joined in our community.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/coffee-cup.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">Email Marketing</h3>
                            <p class="text-small font-weight-light">
                                he act of sending a commercial message, typically to a group of people, using email. In its broadest sense, every email sent to a potential or current customer could be considered email marketing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box text-center">
                            <div class="icon d-flex align-items-end"><img src="~/Content/amade/imgs/pen.svg" alt="..." class="img-fluid"></div>
                            <h3 class="h4">UX &amp; UI</h3>

                            <p class="text-small font-weight-light">
                                For those also love Design with awesome graphic and artistic media, web, android and ios.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="text-center">
                <h2>Trusted by teams everywhere</h2>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p class="lead text-muted mt-2">
                            Yes.. we are with skills and good communication nothing is impossible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clients mt-5">
                <div class="row">
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-1.svg" alt="" class="client-image img-fluid"></div>
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-2.svg" alt="" class="client-image img-fluid"></div>
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-3.svg" alt="" class="client-image img-fluid"></div>
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-4.svg" alt="" class="client-image img-fluid"></div>
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-5.svg" alt="" class="client-image img-fluid"></div>
                    <div class="col-lg-2"><img src="~/Content/amade/imgs/client-6.svg" alt="" class="client-image img-fluid"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <h2>Curious how Company Unknown works for <br>large organizations?</h2>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p class="lead text-muted mt-2">
                            We implore to you we that working bigger company and organization to do their business around here and find
                            a fitting worker or employee for them to work and also we suggest you Join us and test your skills.

                        </p>
                    </div>
                </div><a href="#" class="btn btn-primary mt-4">Get Started</a>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="footer-logo">
                        <!--<img src="img/logo-footer.svg" alt="..." class="img-fluid">-->
                    </div>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h5 class="footer-heading">Site pages</h5>
                    <ul class="list-unstyled">
                        <li> <a href="index.html" class="footer-link">Home</a></li>
                        <li> <a href="faq.html" class="footer-link">FAQ</a></li>
                        <li> <a href="contact.html" class="footer-link">Contact</a></li>
                        <li> <a href="text.html" class="footer-link">Text Page</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h5 class="footer-heading">Product</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#" class="footer-link">Why Company Unknown?</a></li>
                        <li> <a href="#" class="footer-link">Enterprise</a></li>
                        <li> <a href="#" class="footer-link">Blog</a></li>
                        <li> <a href="#" class="footer-link">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer-heading">Resources</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#" class="footer-link">Download</a></li>
                        <li> <a href="#" class="footer-link">Help Center</a></li>
                        <li> <a href="#" class="footer-link">Guides</a></li>
                        <li> <a href="#" class="footer-link">Partners</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        <p class="copyrights-text mb-3 mb-lg-0">&copy; All rights reserved. Company unknown.co. Design by <a href="https://bootstrapious.com/p/big-bootstrap-tutorial" class="external footer-link">Bootstrapious </a></p>

                    </div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <ul class="list-inline social mb-0">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a><a href="#" class="social-link"><i class="fa fa-twitter"></i></a><a href="#" class="social-link"><i class="fa fa-youtube-play"></i></a><a href="#" class="social-link"><i class="fa fa-vimeo"></i></a><a href="#" class="social-link"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/amade/ven/jquery/jquery.min.js"></script>
    <script src="~/Content/amade/ven/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/amade/ven/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/amade/ven/lightbox2/js/lightbox.js"></script>
    <script src="~/Content/amade/jesus/front.js"></script>
</body>
</html>