@{ 
    Layout = "";
}
    <div class="container-fluid">
        <div class="row">

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Bantay Internitan</h4>
                    <p class="category">24 Hours performance</p>
                </div>
                <div class="content">
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>