@{
    Layout = "";
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="image">
                        <img src="~/Content/moral/Images/kodaikanal-2836301.jpg" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-violet" src="~/Content/moral/Images/eriri.png" />
                            <h3 class="title">
                                Emmanuel Paul G. Moralde<br />
                                <small>Doy2x</small>
                            </h3>
                        </div>
                        <p class="description text-center">
                            "Web Developer and Mobile App Developer"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i>Moralde-Sama</button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i>Moralde-Sama</button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i>Moralde-Sama</button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-github"></i>Moralde-Sama</button>

                    </div>
                </div>
            </div>
            <div class="col-md-12" style="display: flex; justify-content: center;">
                <div class="row" style="width: 100%;">
                    <div class="col-sm-12 col-md-3">
                        <div class="card content_center active">
                            <div class="content">
                                <a class="list-btn active">
                                    <i class="pe-7s-user"></i>
                                    <p>Personal Details</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card content_center">
                            <div class="content">
                                <a class="list-btn">
                                    <i class="pe-7s-note2"></i>
                                    <p>Company</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card content_center">
                            <div class="content">
                                <a class="list-btn">
                                    <i class="pe-7s-box2"></i>
                                    <p>Projects</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card content_center">
                            <div class="content">
                                <a class="list-btn">
                                    <i class="pe-7s-portfolio"></i>
                                    <p>Portfolio</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Personal Information</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" value="Emmanuel Paul" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" value="Gabionza" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input id="lastname" type="text" class="form-control" value="Moralde" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Company"
                                           value="moralde.sama@gmail.com" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="gender">Gender</label>
                                <select id="gender" class="form-control" name="state" disabled>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cellphone Number</label>
                                    <input type="number" class="form-control" placeholder="Last Name" value="09104333927" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Address</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="region">Region</label>
                                <select id="region" class="form-control" name="state" disabled>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="province">Province</label>
                                <select id="province" class="form-control" name="state" disabled>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="city">City</label>
                                <select id="city" class="form-control" name="state" disabled>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px; margin-top: 13px;">
                            <div class="col-md-4">
                                <label for="brgy">Baranggay</label>
                                <select id="brgy" class="form-control" name="state" disabled>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
