@{
    Layout = "";
}

    <div id="personalinfo" class="section scrollspy">
    <div class="card">
        <div class="card-content">
            <h4 class="header">Personal Information</h4>
            <div class="divider" style="margin-bottom: 10px;"></div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="fname" ng-model="data.fname" type="text" class="validate">
                    <label for="fname">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="mname" ng-model="data.mname" type="text" class="validate">
                    <label for="mname">Middle Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="lname" ng-model="data.lname" type="text" class="validate">
                    <label for="lname">Last Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <select ng-model="data.gender">
                        <option value="" disabled selected>Select your gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label>Gender</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="number" ng-model="data.cellnum" type="number" data-length="11">
                    <label for="number">Cell Number</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="bdate" ng-model="data.birthdate" type="text" class="datepicker">
                    <label for="bdate">Birthdate</label>
                </div>
            </div>
            <h4 class="header">Address</h4>
            <div class="divider" style="margin-bottom: 10px;"></div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select class="icons" ng-model="data.country">
                        <option value="" disabled selected>Select your country</option>
                        <option ng-repeat="country in countries" data-icon="{{country.flag}}"
                                value="{{country.name}}">{{country.name}}</option>
                    </select>
                    <label>Country</label>
                </div>
            </div>
            <h4 class="header" style="margin-top: -20px;">Skills</h4>
            <div class="divider" style="margin-bottom: 10px;"></div>
            <div class="row">
                <div class="col s12 m12"> 
                    <div id="skills" class="chips chips-autocomplete"></div>
                </div>
            </div>
        </div>
        <div class="card-action" style="display: flex; justify-content: center;">
            <a ng-click="saveDetails(data)" class="waves-effect waves-light pink btn"><i class="material-icons right">save</i>Save</a>
        </div>
    </div>
</div>