
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/moral/css/angular-animate.css" rel="stylesheet" />
    <link href="~/Content/moral/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/moral/Swal/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css?v=2.0.0" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body ng-app="Job">
    <div class="wrapper">
        <div class="main-panel" style="width: 100%;">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">

                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-controller="LogoutCtrl">
                                <button type="button" class="btn btn-violet" ng-click="logout()">Logout</button>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content" ng-controller="WorkerProfileCtrl">
                <div class="container">
                    <form name="userinfo">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Personal Information</h4>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label ng-class="validateLabel(userinfo.fname.$valid)">
                                                        First Name
                                                        <span ng-hide="userinfo.fname.$valid"> - Required</span>
                                                    </label>
                                                    <input name="fname" ng-class="validateInput(userinfo.fname.$valid)"
                                                           ng-model="data.fname" type="text" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label ng-class="validateLabel(userinfo.mname.$valid)">
                                                        Middle Name
                                                        <span ng-hide="userinfo.mname.$valid"> - Required</span>
                                                    </label>
                                                    <input name="mname" ng-class="validateInput(userinfo.mname.$valid)"
                                                           ng-model="data.mname" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label ng-class="validateLabel(userinfo.lname.$valid)">
                                                        Last Name
                                                        <span ng-hide="userinfo.lname.$valid"> - Required</span>
                                                    </label>
                                                    <input name="lname" ng-class="validateInput(userinfo.lname.$valid)"
                                                           ng-model="data.lname" type="text" required>
                                                </div>
                                            </div>
                                            <div id="genderContainer" class="col-md-6">
                                                <label for="gender">Gender</label>
                                                <select id="gender" class="form-control"
                                                        ng-disabled="personal">
                                                    <option value="" disabled selected>Select your gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label ng-class="validateLabel(userinfo.cellnum.$valid)">
                                                        Cellphone Number
                                                        <span ng-hide="userinfo.cellnum.$valid"> - Required</span>
                                                    </label>
                                                    <input name="cellnum" ng-class="validateInput(userinfo.cellnum.$valid)"
                                                           ng-model="data.cellnum" type="number" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label ng-class="validateLabel(userinfo.birthdate.$valid)">
                                                        Birthdate
                                                        <span ng-hide="userinfo.birthdate.$valid"> - Required</span>
                                                    </label>
                                                    <input name="birthdate" ng-class="validateInput(userinfo.birthdate.$valid)"
                                                           ng-model="data.birthdate" type="date" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Address</h4>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div id="regionContainer" class="col-md-6 margin-top-15">
                                                <label class="select-valid">Region<span> - Required</span></label>
                                                <select id="region" class="form-control" style="width: 100%;">
                                                    <option value="0" disabled selected>Select a region</option>
                                                </select>
                                            </div>
                                            <div id="provinceContainer" class="col-md-6 margin-top-15">
                                                <label class="select-valid">Province<span> - Required</span></label>
                                                <select id="province" class="form-control" style="width: 100%;">
                                                    <option value="0" disabled selected>Select a region first</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row margin-15">
                                            <div id="cityContainer" class="col-md-6 margin-top-15">
                                                <label class="select-valid">City/Municipality<span> - Required</span></label>
                                                <select id="city" class="form-control" style="width: 100%;">
                                                    <option value="0" disabled selected>Select a province first</option>
                                                </select>
                                            </div>
                                            <div id="brgyContainer" class="col-md-6 margin-top-15">
                                                <label class="select-valid">Baranggay<span> - Required</span></label>
                                                <select id="brgy" class="form-control" style="width: 100%;">
                                                    <option value="0" disabled selected>Select a city/municipality first</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Skills</h4>
                                    </div>
                                    <div class="content">
                                        <div class="row margin-15">
                                            <div id="skillsContainer" class="col-md-12">
                                                <label class="select-valid">Technologies Used/Skills<span> - Required</span></label>
                                                <select id="skills" class="form-control" multiple style="width: 100%;"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12 center_content">
                            <button type="button" class="btn btn-violet" ng-disabled="!userinfo.$valid || !isValid" ng-click="saveDetails()">Save Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-switch.js"></script>
    <script src="~/Content/assets/js/light-bootstrap-dashboard.js?v=2.0.0"></script>
    <script src="~/Content/moral/select2/js/select2.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/moral/Swal/sweetalert2.js"></script>
    <script src="~/Scripts/AngularJS/angular.min.js"></script>
    <script src="~/Scripts/AngularJS/Controllers/worker-details.js"></script>
</body>
</html>
